[Unit]
Description=MangaWhisper Background Worker
After=network.target

[Service]
Type=notify
User=whisper
WorkingDirectory=/opt/projects/manga-whisper-background-worker/repo/src/MangaWhisper.BackgroundWorker.Api
ExecStart=/usr/bin/dotnet run
Restart=always
RestartSec=10
Environment="DOTNET_ROOT=/usr/share/dotnet"

[Install]
WantedBy=multi-user.target